@model FurnitureStore.Areas.Administration.ViewModels.AccountRolesViewModel

@{
    ViewBag.Title = "Роли";
}

<h2>Роли</h2>

@using (Html.BeginForm("Roles", "Account")) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.User.Id)
        @Html.HiddenFor(model => model.User.UserName)

        <h4>Роли пользователя @Html.DisplayFor(m => m.User.UserName)</h4>
        <br />
        <table class="table">
            <tr>
                <th>

                </th>
                <th>
                    Роль
                </th>
                <th>
                    Описание роли
                </th>
            </tr>
            @for (int i = 0; i < Model.Roles.Count(); i++) {
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => m.Roles[i].Checked)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Roles[i].Name)
                        @Html.HiddenFor(m => m.Roles[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Roles[i].Description)
                        @Html.HiddenFor(m => m.Roles[i].Description)
                    </td>
                </tr>
            }
        </table>

        <hr />

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
                @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

