@using FurnitureStore.ViewModels;
@model PaginationViewModel

@{
    ViewBag.Title = "Мебель";
}

<h2>Предложения</h2>

<section class="content_i">
    @Html.Partial("_Product", Model.Furnitures)
    @if (Model.HasMoreItems) {
        <div class="load-more">
            <a class="button" data-behavior="load-next-page" data-url="@Url.Action("Index", "Furniture", new { page = Model.Page })" data-next-page="@Model.Page" href="@Url.Action("Index", "Furniture", new { page = Model.Page })">Смотреть еще @Model.ItemsPerPage предложений</a>
        </div>
    }
</section>

@if (Model.HasMoreItems) {
    @section Scripts {
        <script type="text/javascript">
            (function () {
                $(function () {
                    return $(document).on('click', '[data-behavior=load-next-page]', function (e) {
                        var $next_btn, next_page, url;
                        e.preventDefault();
                        $next_btn = $(this);
                        url = $next_btn.data('url');
                        next_page = $next_btn.data('next-page');
                        if ($next_btn.hasClass("disabled")) {
                            return;
                        }
                        $next_btn.addClass("disabled").data("old-title", $next_btn.text()).text("Загружаю предложения...");
                        return $.ajax(url, {
                            type: 'GET',
                            dataType: 'html',
                            data: {
                                page: next_page
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                return alert('Ой! На сервере, что-то случилось! :`-(');
                            },
                            success: function (data, textStatus, jqXHR) {
                                var $new;
                                $new = $(data);
                                $new.insertAfter($('.products-list:last'));
                                return $next_btn.closest(".load-more").remove();
                            },
                            error: function () {
                                return $next_btn.removeClass("disabled").text($next_btn.data("old-title"));
                            }
                        });
                    });
                });

            }).call(this);
        </script>
    }
}